html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
}

.flex-container {
  height: 100%;
}

.map-component {
  flex: auto;
}

.map-container {
  height: 100%;
  width: 100%;
}

.sidebar{
  height: 100%;
  background-color: white;
  flex-direction: column;
}

.pagination-nav {
  margin: auto;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination > li {
  list-style: none;
  margin: 0;
  display: block;
  float: left;
}

.pagination > li > button {
  padding: 10px;
}

.search-box, .restaurant-item{
  border: 2px solid grey;
}

.sidebar-list {
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
